#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.count-button:hover {
  font-size: 110%;
}

.count-button:active {
  font-size: 125%;
}

.card-container img {
  width: 250px;
  height: 350px;
  aspect-ratio: 2.5 / 3.5;
}

.hand {
  border: 1px solid gray;
  height: 15rem;
  width: 100%;
  padding: 2rem;
  text-align: center;
}